*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:sans-serif;
	list-style:none;
	text-decoration:none;
}

nav img{
	width:auto;
	height:100px;
}
nav{
	width:100%;
	height:100px;
	background-color:aqua;
}

nav ul{
	float:right;
	color:white;
	margin-right: 20px;
}

nav ul li{
	display:inline-block;
	line-height:80px;
	margin-top:0 5px;
	
}

nav ul li a{
	text-transform:uppercase;
	color:white;
	font-size:17px;
	padding:7px 13px;
	border-radius:3px;
	
}

a.active,a:hover{
	background:#1b9bff;
	transition:.5s;
	cursor:pointer;
}

.checkbtn{
	font-size:30px;
	color:white;
	float:right;
	line-height:80px;
	margin-right:40px;
	cursor:pointer;
	margin-top:10px;
	display:none;
}

#check{
	display:none;
}

@media (max-width:952px){
	nav ul li a{
		font-size:16px;
	}
}

@media (max-width:858px){
	.checkbtn{
		display:block;
	}
	nav ul{
		position:fixed;
		width:100%;
		height:100vh;
		background:#2c3e50;
		top:100px;
		left:-100%;
		text-align:center;
		transition:all .5s;
		z-index:2
	}
	nav ul li a{
		font-size:20px;
	}
	nav ul li{
		display:block;
		margin:50px 0;
		line-height:30px;
	}
	a:hover,a.active{
		background:none;
		color:#0082e6;
	}
	
	#check:checked~ul{
		left:0px;
	}
	
	#check:checked~.container{
		display:none;
	}
}
section{
background-image:url(IMG-20230627-WA0070.jpg);
background-size:cover;
background-repeat:no-repeat;
height:fit-content;}


.container2{
display:flex;
justify-content:center;
}
.icon img{
padding-left:20px;}

.icon h1{
padding:15px;
font-size:40px;
color:#fff;
letter-spacing:1.5px;
font-weight:600;
}

.icon{
padding:10px;
font-size:20px;
color:#fff;
letter-spacing:1.3px;
font-weight:300;
margin:5% auto;
text-align:center;
}

@media (max-width:500px){
	.icon{
margin:20% auto;
text-align:center;

}
}


.Container{
	width:100%;
	display:flex;
	flex-direction:column;
}

.Container .Row{
	width:80%;
	height:90%;
	margin:10% auto;
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-gap:10px 10px;
	
}

.Container .Row .Card{
	height:85%;
	width:80%;
	border:1px solid black;
	margin:10% auto;
}

.Container .Row .Card .blue-bg{
	height:20%;
	margin-top:0;
	background-color:aqua;
	display:flex;
	align-items:center;
	justify-content:center;
	
}

.Container .Row .Card .image{
	width:40%;
	height:80%;
	border-radius:50%;
	margin-top:30%;
	border:1px solid black;
	
}

.Container .Row .Card .image img{
	width:100%;
	height:100%;
	border-radius:50%;
}

.Container .Row .Card .info h1{
	text-align:center;
	padding:30px;
	color:aqua
	
}

.Container .Row .Card .info p{
	padding:5px;
	line-height:25px;
	text-align:center;
}
.Container .Row .Card .info ul li{
	text-align:center;
	line-height:25px;
	list-style:none;
}

@media (max-width:952px){
	.Container .Row{
	width:80%;
	margin:5% auto;
	grid-template-columns:1fr;
	
}


.Container .Row .Card{
	height:90%;
	width:55%;
	margin:10% auto;
}


.Container .Row .Card .image{
	margin-top:20%;
	
}


}

@media (max-width:768px){
.Container	.Row{
	width:80%;
	margin:5% auto;
	grid-template-columns:1fr;
	
}

.Container .Row .Card{
	height:90%;
	width:55%;
	margin:10% auto;
}


.Container .Row .Card .image{
	margin-top:35%;
	
}
@media (max-width:500px){
	.Container .Row{
	width:95%;
	margin:5% auto;
	grid-template-columns:1fr;
	
}

.Container .Row .Card{
	height:90%;
	width:70%;
	margin:10% auto;
}


.Container .Row .Card .image{
	margin-top:20%;
	
}


}

}


.Header{
	border:1px solid #87CEEB;
	border-radius:15px;
	width:22%;
	height:50px;
	margin:0px auto;
	text-align:center;
	font-family:sans-serif;
	font-size:18px;
	letter-spacing:2px;
	text-transform:uppercase;
	margin-bottom:50px;
	color:grey
}
.S-cards{
	display:flex;
	flex:wrap;
	width:90%;
	margin: 49px auto;
}

.S-cards .S-Card{
	border:1px solid #87CEEB;
	width:30%;
	border-radius:25px;
	margin:100px 30px;
}

.S-cards .S-Card .S-image{
	border-radius:50%;
	border:15px solid #87CEEB;
	margin:-20% auto;
	width:150px;
	height:150px;
}
.S-cards .S-Card .S-image img{
	border-radius:50%;
	height:100%;
	width:100%
}

.S-cards .S-Card .S-card-info{
	width:90%;
	margin:120px auto;
	color:grey
}

.More-info input{
	height:50%;
	width:70%;
	border-radius:15px;
	margin:0px 35px;
	background-color:#87CEEB;
	color:white;
	font-size:18px;
	font-family:sans-serif;
	padding:15px;
}


.S-cards .S-Card .S-card-info h1{
	font-family:sans-serif;
	font-size:22px;
	text-align:center;
	text-transform:uppercase;
	
}

.S-cards .S-Card .S-card-info h2{
	font-family:sans-serif;
	font-size:15px;
	text-align:center;
}


.Content{
display:none}

 #check1:checked~label{
display:none;}

 #check1{
display:none;}

#check1:checked~.Content{
display:block;}

#check2:checked~label{
display:none;}

 #check2{
display:none;}

#check2:checked~.Content{
display:block;}

#check3:checked~label{
display:none;}

 #check3{
display:none;}

#check3:checked~.Content{
display:block;}

.cards .Card .card-info label{
cursor:pointer;
color:white;
background:aqua;
margin-left:100px;
margin-top:50px;
height:20%;
width:70%;
border-radius:15px;
background-color:#87CEEB;
font-size:18px;
font-family:sans-serif;
padding:15px;
}
@media (max-width:912px){
	.S-cards{
	flex-direction:column;
	
}

.S-cards .S-Card{
	border:1px solid #87CEEB;
	width:40%;
	border-radius:25px;
	margin:100px auto;
}
}

@media (max-width:768px){
	.S-cards{
	flex-direction:column;
	
}

.S-cards .S-Card{
	border:1px solid #87CEEB;
	width:50%;
	border-radius:25px;
	margin:100px auto;
}
}


@media (max-width:500px){
	.S-cards{
	flex-direction:column;
	
}

.S-cards .S-Card{
	border:1px solid #87CEEB;
	width:80%;
	border-radius:25px;
	margin:100px auto;
}



label{

margin-left:50px;
margin-top:15px

}
.Header{
	
	width:60%;
	height:60px;

}

}

@media (max-width:540px){
.S-cards .S-Card{
	border:1px solid #87CEEB;
	width:70%;
	border-radius:25px;
	margin:100px auto;
}	
.Header{
	
	width:60%;
	height:80px;

}
	
}
}

@media (max-width:360px){
.S-cards .S-Card{
	border:1px solid #87CEEB;
	width:85%;
	border-radius:25px;
	margin:100px auto;
}	
.Header{
	
	width:60%;
	height:80px;

}
.S-image{
	border-radius:50%;
	border:15px solid #87CEEB;
	margin:-30% auto;
	width:70px;
	height:70px;
}	
}
@media (max-width:1030px){

label{

margin-left:50px;

}




